* {
    font-family: 'Roboto', sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 5;
    min-height: 50px;
    background-color: #212121;
}

header {
    position: relative;
}

header nav {
    padding: 14px 70px;
}

nav .menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
}

.subheader {
    position: absolute;
    width: 100%;
    min-height: 84px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 58px;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_text {
    margin-top: 6px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff;
}

.subheader .subheader_call {
    margin-top: 18px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    margin-top: 8px;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader_btn {
    width: 178px;
    height: 52px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.11);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    color: #ffffff;
    margin-top: 16px;
}

.promo {
    min-height: 800px;
    background: url('../img/background.png') center center/cover no-repeat;
    padding-top: 200px;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    margin-bottom: 0;
}

.promo h2 {
    font-size: 36px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
    margin-top: 18px;
}

.promo .subheader_promo {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 23px;
}

.promo .promo_btn {
    display: block;
    margin: 115px auto 0 auto ;
    width: 265px;
    height: 69px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.11);
    border-radius: 4px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    color: #ffffff;
}

.start {
    min-height: 900px;
    background-color: white;
    padding: 71px 0 65px 0;
}

.start .label {
    width: 112px;
    height: 24px;
    background-color: #000000;
    font-size: 11px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    margin-top: 71px;
    padding: 5px 0;
}

.start .title {
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 0;
}

.start .start_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.start .start_block .start_round {
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
}

.start_descr .start_text {
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #202020;
}

.start_descr .start_subtitle  {
    font-size: 17px;
    font-weight: 400;
    color: #1eacc7;
}

.start .start_descr {
    width: 343px;
}

